#file-input {
  display: none;
  visibility: hidden; }

.placeholder {
  left: 0;
  pointer-events: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform-origin: 0 0;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgba(0, 0, 0, 0.54); }

.file-preview {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ababab;
  border-radius: 50%; }

.button-wrapper {
  margin-top: 7px; }

.file-name {
  margin-left: 10px; }

.errors-container {
  margin-top: 7px;
  font-size: 75%; }

.rui-file-input-container.non-pristine.has-value .placeholder {
  font-size: 75%; }

.rui-file-input-container.non-pristine.invalid .placeholder {
  color: #f44336; }

.rui-file-input-container.non-pristine.invalid .file-name {
  color: #f44336; }

.rui-file-input-container.non-pristine.invalid .mat-raised-button {
  color: #f44336; }
