mat-form-field
	input(matInput, [formControl]='fieldData.inputFormControl', [placeholder]='fieldData.placeholder', [attr.autocomplete]='noAutofillAttr', [type]='fieldData.type')
	include ../base/baseInput.commonElementsTemplate.pug
