mat-form-field
	input(matInput, [formControl]='fieldData.inputFormControl', [placeholder]='fieldData.placeholder')
	//- input(matInput, [formControl]='fieldData.inputFormControl', [matDatepicker]='picker', [placeholder]='fieldData.placeholder')
	include ../base/baseInput.commonElementsTemplate.pug
	//- mat-datepicker-toggle(matSuffix, [for]='picker')
	//- mat-datepicker(#picker)
