.page-content(fxLayout='column', fxFill, fxLayoutAlign='start stretch')
	h1 Test
	div
		rui-autocomplete([fieldData]='testAutocompleteFieldData')
		rui-checkbox([fieldData]='testCheckboxFieldData')
		rui-datepicker([fieldData]='testDatepickerFieldData')
		rui-file-input([fieldData]='testFileInputFieldData')
		rui-input([fieldData]='testInputFieldData')
		rui-slide-toggle([fieldData]='testSlideToggleFieldData')
		rui-textarea([fieldData]='testTextAreaFieldData')
