mat-form-field
	input(matInput, type='text', [placeholder]='fieldData.placeholder', [formControl]='searchBox', [matAutocomplete]='autocompleteElement', [attr.autocomplete]='noAutofillAttr', (focus)='onFocus()', (blur)='onBlur()')
	mat-hint(*ngIf=`fieldData.hint !== ''`) {{fieldData.hint}}
	mat-error(*ngIf='searchBox.invalid && (searchBox.dirty || searchBox.touched) && searchBox.errors')
		span(*ngFor='let errorKey of JSObject.keys(searchBox.errors)') {{errorMessages[errorKey]}}
	mat-autocomplete(#autocompleteElement='matAutocomplete')
		mat-option(*ngFor='let item of filteredSelectList; let i = index', [value]='item.text', (onSelectionChange)='onSelectionChange($event, item.value, i)') {{item.text}}