mat-hint(*ngIf=`fieldData.hint !== ''`) {{fieldData.hint}}
mat-error(*ngIf='fieldData.inputFormControl.invalid && (fieldData.inputFormControl.dirty || fieldData.inputFormControl.touched) && fieldData.inputFormControl.errors')
	span(*ngFor='let errorKey of JSObject.keys(fieldData.inputFormControl.errors)') {{errorMessages[errorKey]}}